---
import Layout from "../layouts/Layout.astro"
import APRSTransmitter from "../components/APRSTransmitter.svelte"
import Toast from "../components/Toast.svelte"
import { Icon } from "astro-icon/components"
---

<Layout title="APRS-TX Transmitter">
	<Toast client:only="svelte" />
	<main
		class="flex flex-col items-center justify-center min-h-screen bg-base-200 p-2"
	>
		<div class="w-full max-w-sm">
			<div class="flex justify-between px-2 mb-2">
				<div class="avatar">
					<Icon name="aprs-inline" class="w-32 h-12" />
				</div>
				<a
					href="https://github.com/Nigh/aprs-pwa"
					target="_blank"
					class="cursor-pointer hover:text-primary flex flex-col items-center"
				>
					<Icon name="github" class="h-6 w-6" />
					<span class="text-md font-bold mr-1">STAR ME</span>
				</a>
			</div>
			<APRSTransmitter client:load />
		</div>
	</main>
</Layout>
